@import "tailwindcss";

@theme {
    /*--color-cream: oklch(98.473 0.464 3.929);*/
    --color-cream: oklch(0.987 0.0107 76.6);
    --color-ink: oklch(0.2708 0.0423 289.23);
}

/* https://www.joshwcomeau.com/css/full-bleed/ */
body {
    display: grid;
    grid-template-columns: 1fr min(42rem, 100%) 1fr;
    grid-template-rows: max-content 1fr;
    padding-inline: 16px;
    min-height: 100vh;
    background-color: var(--color-cream);
    color: var(--color-ink);
}

body > * {
    grid-column: 2/-2;
}
